@model UserAreaViewModel
<h1 align="center">Подключение</h1>
<br />
<br />

<div>

    <form class="col-form-label" method="post" asp-controller="Connect" asp-action="ConnectPage_Two">
        <p>Регион</p>

        <select  asp-for="Region">
            @{
                foreach (Region Region in Model.Regions)
                {
                    <option value="@Region.RegionCompany">@Region.RegionCompany</option>
                }
            }
        </select>
        <br />
        <br />

        <p>Статус</p>

        <p></p>



        @foreach (var status in Model.Status)
        {
            <input type="radio" asp-for="Statusfact" value="@status" />@status<br />
        }
        <br />



   





        <input type="submit" />
        <br />
    </form>
</div>


<br />









 @*method="post" asp-controller="Connect" asp-action="ConnectPage_two"*@
@*<button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Далее</button>*@

<br />
<br />
<br />