<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!--<title>@ViewBag.Title</title>-->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>
<body>
    <header>
        <!--<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">-->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Carousel</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="start" asp-action="startpage">Главная <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="connect" asp-action="connectpage">Подключение <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="cooperation" asp-action="cooperationpage">Сотрудничество <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="contact" asp-action="contactpage">Контакты<span class="sr-only">(current)</span></a>
                    </li>
                   
                        @if (String.Compare(User.Identity.Name, "serg.mariupolcity@gmail.com", StringComparison.OrdinalIgnoreCase) == 0)
                        {
                            <li class="nav-item active">
                                @*Adminka*@
                                <a class="nav-link" asp-controller="AdminPanel" asp-action="Index">Админ панель <span class="sr-only">(current)</span></a>
                            </li>
                        }

                    </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <form class="form-inline mt-2 mt-md-0 mr-2" method="post" asp-controller="UserArea" asp-action="Index">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Личный кабинет</button>
                    </form>

                    <form class="form-inline mt-2 mt-md-0 mr-2" method="post" asp-controller="Account" asp-action="Logout">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Выход</button>
                    </form>
                }
                else
                {
                    <form class="form-inline mt-2 mt-md-0 mr-2" method="post" asp-controller="Account" asp-action="Register">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Register</button>
                    </form>

                    <form class="form-inline mt-2 mt-md-0 mr-2" method="post" asp-controller="Account" asp-action="Login">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Войти</button>
                    </form>
                }
            </div>
            <p></p>
       


        </nav>
    </header>
    <div class="container mt-5">
        @RenderBody()
    </div>
    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>© 2017-2019 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>
    <script>src = "~/js/Bootstrap.min.js"</script>
</body>
</html>
